In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [13]:
df = pd.read_csv("DataSet/fruit data.csv")
df.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [14]:
df.isnull().sum()

fruit_label      0
fruit_name       0
fruit_subtype    0
mass             0
width            0
height           0
color_score      0
dtype: int64

In [15]:
df = df[:10]
df

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79
5            2   mandarin      mandarin    80    5.8     4.3         0.77
6            2   mandarin      mandarin    80    5.9     4.3         0.81
7            2   mandarin      mandarin    76    5.8     4.0         0.81
8            1      apple      braeburn   178    7.1     7.8         0.92
9            1      apple      braeburn   172    7.4     7.0         0.89

In [16]:
x = df.drop(["fruit_label","fruit_name","fruit_subtype"], axis=1)
y = df.fruit_label

<h3>Split</h3>

In [17]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=3)

In [18]:
x_train.shape, x_test.shape

((7, 4), (3, 4))

<h3>Train</h3>

In [19]:
x_train

   mass  width  height  color_score
2   176    7.4     7.2         0.60
9   172    7.4     7.0         0.89
6    80    5.9     4.3         0.81
7    76    5.8     4.0         0.81
0   192    8.4     7.3         0.55
3    86    6.2     4.7         0.80
8   178    7.1     7.8         0.92

In [20]:
y_train

2    1
9    1
6    2
7    2
0    1
3    2
8    1
Name: fruit_label, dtype: int64

<h3>Test</h3>

In [21]:
x_test

   mass  width  height  color_score
5    80    5.8     4.3         0.77
4    84    6.0     4.6         0.79
1   180    8.0     6.8         0.59

In [22]:
y_test

5    2
4    2
1    1
Name: fruit_label, dtype: int64